<div class="spinner" *ngIf="!peliInfo">
  <img src="../../../assets//images/spinner.gif" alt="spinner">
</div>
<div class="peliInfo" *ngIf="peliInfo">
  <div class="backBox" *ngIf="url && palette" [ngStyle]="styleContainer()">
    <div class="box">
      <div class="posterPeli">
          <img src="https://image.tmdb.org/t/p/w500/{{peliInfo?.poster_path}}" alt="{{peliInfo?.title}}" title="{{peliInfo?.title}}"/>
      </div>
      <div class="infoPeli">
        <div class="title">
              <h2>{{peliInfo?.title}}</h2>
        </div>
        <div class="resumenPeli">
            <div>
                  <h3>{{peliInfo?.overview}}</h3>
            </div>
        </div>
        <div class="trailerPeli">
            <iframe width="560" height="315" [src]="url" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

