$Color1: #323643;
$Color2: #606470;
$Color3: #f1c40f;
$Color4: #eeeeee;

.peliInfo{
    display:flex;
    padding:50px;
    img{
        border: 1px solid $Color2;
        border-radius: 10px;
    }
    .infoPeli{
        padding: 50px;
        .title{
            font-size: x-large;
            padding-bottom: 20px;
        }
    }
}