<header>
  <!-- Logo -->
  <div class="logo"></div>

  <!-- Menu principa; -->
  <div class="menuPrincipal">
    <ul class="listaMenuPrincipal">
      <li class="itemMenu">
        <p>Películas</p>
        <div class="divSubmenu">
          <!-- Submenu -->
          <ul class="submenuList">
            <li class="itemSubmenu">Novedades</li>
            <li class="itemSubmenu">Más vistas</li>
          </ul>
        </div>
      </li>
      <li class="itemMenu">
        <p>Series</p>
        <div class="divSubmenu">
          <!-- Submenu -->
          <ul class="submenuList">
            <li class="itemSubmenu">Novedades</li>
            <li class="itemSubmenu">Más vistas</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <!-- Busqueda -->
  <div></div>
</header>
