<footer class="footer">

  <div class="formFooter">
    <div class="formDiv">
      <div class="inputDiv">
      <input class="inputs" type="text" placeholder="Nombre">
      <input class="inputs" type="text" placeholder="Email">
      <textarea class="inputs" name="" id="" cols="20" rows="6" placeholder="Escribe una descripción.."></textarea>
    </div>
      <button type="submit">Enviar</button>
    </div>
    <div class="searchFooter"><app-search></app-search></div>
    <div class="autorDiv">
      
        <app-redes-sociales></app-redes-sociales>
      
      <div class="autor">
        <div class="iconDatos">
           <i class="fas fa-mobile-alt Icon"></i>
          <p>Cont: 687 79 54 12</p>
        </div>
        <a href="http://gmail.com" target="_blank" class="iconDatos"> <i class="far fa-envelope Icon"> </i>
          <p>Email: peli@pepito.com</p>
        </a>

      </div>
    </div>
  </div>
  <div class="copyRight">
    <p>Todos los dererechos reservados ©</p>

  </div>
</footer>
