<footer class="footer">

  <div class="formFooter">
  <app-formulario></app-formulario>
    <app-search class="searchFooter"></app-search>
    <div class="autorDiv">
      
        <app-redes-sociales></app-redes-sociales>
      
      <div class="autor">
        <div class="iconDatos">
           <i class="fas fa-mobile-alt Icon"></i>
          <p>Cont: 687 79 54 12</p>
        </div>
        <a href="http://gmail.com" target="_blank" class="iconDatos"> <i class="far fa-envelope Icon"> </i>
          <p>Email: peli@pepito.com</p>
        </a>

      </div>
    </div>
  </div>
  <div class="copyRight">
    <p>Todos los dererechos reservados ©</p>

  </div>
</footer>
