$Color1: #323643;
$Color2: #606470;
$Color3: #f1c40f;
$Color4: #eeeeee;



.footer {
  background-color: $Color1;

  .formFooter {

    display: flex;
    justify-content: space-between;


    .searchFooter {
      width: 100vh;
      justify-content: center;
      display: flex;
      align-items: center;



    }

    .autorDiv {
      width: 100vh;
      justify-content: space-around;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 5px;

      .autor {


        align-items: flex-start;
        display: flex;
        flex-direction: column;

        .iconDatos {
          display: flex;
          color: $Color4;
          justify-content: center;
          align-items: center;

          p {
            color: $Color4;
          }
        }

        .Icon {
          width: 40px;
          margin-right: 15px;
          height: 40px;
          justify-content: center;
          align-items: center;
          display: flex;

          margin-right: 15px;
          color: #eee;

          i {
            color: $Color4;

            p {
              color: $Color4;
            }
          }
        }
      }


    }

    .linksFooter {
      width: 100vh;
      display: flex;
          justify-content: space-evenly;
      align-items: center;

      .pelisFooter {
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 20px;
      }


      .seriesFooter {
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 20px;
      }

      p {
        color: $Color4;
      }

      a {
        color: $Color4;
      }
    }
  }
}

.copyRight {

  text-align: center;

  p {
    color: $Color4;
  }
}


.redSocial {

  margin-right: 15px;
}

.Icon {
  color: white
}

@media (max-width: 1250px) {}

@media (max-width: 750px) {}
