$Color1: #323643;
$Color2: #606470;
$Color3: #f1c40f;
$Color4: #eeeeee;



.footer {
  background-color: $Color1;

  .formFooter {

    display: flex;
    justify-content: space-between;


    .searchFooter {
      width: 100vh;
      justify-content: center;
      display: flex;
      align-items: center;
    


    }

    .autorDiv {
      width: 100vh;
      justify-content: space-around;
      display: flex;
      flex-direction: column;
      align-items: center;

      .autor {


        align-items: flex-start;
        display: flex;
        flex-direction: column;

        .iconDatos {
          display: flex;
          color: $Color4;
          justify-content: center;
          align-items: center;

          p {
            color: $Color4;
          }
        }

        .Icon {
          width: 40px;
          margin-right: 15px;
          height: 40px;
          justify-content: center;
          align-items: center;
          display: flex;

          margin-right: 15px;
          color: #eee;

          i {
            color: $Color4;

            p {
              color: $Color4;
            }
          }
        }
      }

      
    }

    // .formDiv {
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   flex-direction: column;
    //   width: 100vh;
    //   // width: 50%;
    //   // display: flex;
    //   // justify-content: center;
    //   // flex-direction: column;
    //   // padding: 13px;
    //   // color: $Color4;
    //   // padding-right: 91px;
    //     .inputDiv{
    //       // width: 50%;
    //   display: flex;
    //   justify-content: center;
    //   flex-direction: column;
    //   padding: 13px;
    //   color: $Color4;
    
    //     }

    //   button {
    //     background: $Color1;
    //     color:$Color4;
    //     width: 50px;
    //     border:solid 1px $Color4;
    //     border-radius: 2px;
    //     // // box-shadow: 14px 7px 5px 0px rgba(0, 0, 0, 0.75);
    //     &:hover{
    //       transition: 0.3s;
    //     color: $Color3;
    //     border:solid 1px $Color3;
    //     }
    //   }
    // }

    // .inputs {
    //   border-radius: 1px;
    //   margin-bottom: 4px;
    //   // box-shadow: 14px 7px 5px 0px rgba(0, 0, 0, 0.75);
    //   width: 41vh;
    //   background: $Color1;
    //   border: solid 1px $Color1;
    //   // outline: none;
    //   // border: none;
    //   color:$Color4;
    //   font-size: 0.8em;
    //   resize: none;
    //   &:hover{
    //     transition: 0.3s;
    //   color: $Color3;
    //   border:solid 1px $Color3;
    //   }
    //   // &:active{
    //   //   transition: 0.3s;
    //   // color: $Color3;
    //   // border:solid 1px $Color3;
    //   // }

    // }
  }
}

.copyRight {

  text-align: center;

  p {
    color: $Color4;
  }
}


.redSocial {

  margin-right: 15px;
}

.Icon {
  color: white
}
