<div class="top" *ngIf="principalLoaded">
  <div class="content">
    <h2>Top 5 Peliculas</h2>
    <div class="dropdown">
      <ul>
        <li (click)="filtrarPorMejores(2019)">
          <div class="divItem">
            <p class="dropdown-item">2019</p>
          </div>
        </li>
        <li (click)="filtrarPorMejores(2018)">
          <div class="divItem">
            <p class="dropdown-item">2018</p>
          </div>
        </li>
        <li (click)="filtrarPorMejores(2017)">
          <div class="divItem">
            <p class="dropdown-item">2017</p>
          </div>
        </li>
        <li (click)="filtrarPorMejoresIntervalo(2009, 2019)">
          <div class="divItem">
            <p class="dropdown-item">La Década</p>
          </div>
        </li>
        <li (click)="filtrarPorMejoresIntervalo(0,2019)">
          <div class="divItem">
            <p class="dropdown-item">La história</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="Component" *ngIf="principalLoaded">
    <div class="ficha" *ngFor="let movie of peliculas">
      <div class="film">
        <div class="divImagen">
          <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="{{peliculas.title}}" />
          <div class="border"></div>
        </div>
        <div class="title">
          <h3>{{movie.title}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
