<div class="top">
    <h2>Top 5 Peliculas</h2>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Mejores 5 Peliculas
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" (click)="filtrarPorMejores(2019)">2019</a>
      <a class="dropdown-item" (click)="filtrarPorMejores(2018)">2018</a>
      <a class="dropdown-item" (click)="filtrarPorMejores(2017)">2017</a>
      <a class="dropdown-item" (click)="filtrarPorMejoresIntervalo(2009, 2019)">Última Decada</a>
      <a class="dropdown-item" (click)="filtrarPorMejoresIntervalo(0,2019)">De La Historia</a>  
    </div>
  </div>
</div>


<div class="Component">
  <div class="ficha" *ngFor="let movie of peliculas">
    <div class="primera" event=show.bs.dropdown>
      <h3>{{movie.title}}</h3>
      <img class="primera" src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" 
      alt="{{peliculas.title}}"/></div>
    </div>
</div>
