<div class="top" *ngIf="principalLoaded">
  <h2>Top 5 Peliculas</h2>
  <div class="dropdown">

    <ul>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" (click)="filtrarPorMejores(2019)">2019</a></li>
        <li><a class="dropdown-item" (click)="filtrarPorMejores(2018)">2018</a></li>
        <li><a class="dropdown-item" (click)="filtrarPorMejores(2017)">2017</a></li>
        <li><a class="dropdown-item" (click)="filtrarPorMejoresIntervalo(2009, 2019)">la Decada</a></li>
        <li><a class="dropdown-item" (click)="filtrarPorMejoresIntervalo(0,2019)"> la Historia</a></li>

      </div>
    </ul>
  </div>
</div>


<div class="Component" *ngIf="principalLoaded">
  <div class="ficha" *ngFor="let movie of peliculas">
    <div class="primera" event=show.bs.dropdown>
      <h3>{{movie.title}}</h3>
      <img class="primera" src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="{{peliculas.title}}" />
    </div>
  </div>
</div>


<app-content-terciario></app-content-terciario>
