$Color1: #323643;
$Color2: #606470;
$Color3: #f1c40f;
$Color4: #eeeeee;

.top {
  justify-content: center;
  align-content: center;
  display: flex;
  background: $Color4;
  flex-direction: column;
  padding: 30px;

  .content {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    display: flex;

    h2 {
      margin-right: 10px;
    }

    .dropdown {
      margin-left: 10px;

      ul {
        display: flex;
        list-style-type: none;
        padding: 10px;

        li {
          margin: auto 5px;
          width: 80px;
          height: 25px;
          align-items: center;
          justify-content: center;
          display: flex;

          &:hover .divItem p {
            font-size: 1.1em;
            transition: 0.5s;
            color: $Color1;
          }

          .divItem {
            p {
              color: $Color2;
              transition: 0.5s;
            }
          }
        }
      }
    }
  }

  .Component {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;

    .ficha {

      .film {
        background: orange;
        position: relative;
        justify-content: center;
        align-items: center;
        display: flex;

        .title {
          position: absolute;
          display: flex;
          height: 150px;
          width: 100%;
          bottom: 0;
          background: linear-gradient(to top, #eee 50%, transparent);
          justify-content: center;
          align-items: center;

          h3 {
            text-align: center;
            position: relative;
            width: 100%;
            overflow: hidden;
            display: inline-block;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        .divImagen {
          width: auto;
          background: red;
          border-radius: 10px;
          overflow: hidden;


          img {
            width: 100%;
            height: auto;
          }

          .border {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 10px;
            right: 10px;
            border-right: 5px dashed $Color4;
            border-left: 5px dashed $Color4;
            border-width: 10px;
          }
        }
      }
    }
  }
}
