<div class="top">
  <div class="content">
    <h2>Top 5 Peliculas</h2>
    <div class="dropdown">
      <ul>
        <li (click)="filtrarPorMejoresSeries(2019)">
          <div class="divItem">
            <p class="dropdown-item">2019</p>
          </div>
        </li>
        <li (click)="filtrarPorMejoresSeries(2018)">
          <div class="divItem">
            <p class="dropdown-item">2018</p>
          </div>
        </li>
        <li (click)="filtrarPorMejoresSeries(2017)">
          <div class="divItem">
            <p class="dropdown-item">2017</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="Component" *ngIf="serieInfo">
    <div class="ficha" *ngFor="let tv of serieInfo">
      <div class="film">
        <div class="divImagen">
          <img src="https://image.tmdb.org/t/p/w500/{{tv.poster_path}}" alt="{{tv.name}}" />
          <div class="border"></div>
        </div>
        <div class="title">
          <h3>{{tv.name}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
