header {
  justify-content: space-between;
  align-items: center;
  display: flex;

  .logo {
    background: red;
  }

  .menuPrincipal {
    background: red;

    .listaMenuPrincipal {
      display: flex;
      list-style: none;

      .itemMenu {
        padding: 5px;

        .divSubmenu {
            display: none;
          }
      }
    }
  }
}
