@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

$Color1: #323643;
$Color2: #606470;
$Color3: #f1c40f;
$Color4: #eeeeee;

header {
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  display: flex;
  background: $Color1;
  z-index: 1000;

  .divIzquierdo {
    justify-content: center;
    align-items: center;
    display: flex;

    .logo {
      padding: 5px 10px 10px 10px;
      height: 75px;
      justify-content: center;
      align-items: center;
      display: flex;

      a {
        display: flex;
        text-shadow: 0 3px 5px $Color2;
        transition: 0.5s;
        justify-content: center;
        align-items: center;

        .img-logo {
          width: 32px;
          height: 50px;
        }

        p {
          font-family: 'Lobster', sans-serif;
          font-size: 2.5em;
          color: $Color3;
          padding: 5px;
          text-align: center;
        }

        &:hover {
          margin-top: 5px;
          text-shadow: none;
          transition: 0.2s;
        }
      }
    }

    .menuPrincipal {
      margin-left: 15px;

      .listaMenuPrincipal {
        display: flex;
        list-style: none;

        .itemMenu {
          font-size: 1.3em;
          padding: 5px;
          margin: auto 10px;
          justify-content: center;
          align-items: center;
          display: flex;
          position: relative;

          p {
            font-size: 1.2em;
            color: $Color4;
            transition: 0.5s;

            &:hover {
              color: $Color3;
              transition: 0.2s;
            }
          }

          .divSubmenu {
            display: none;
            position: absolute;
            background: $Color1;
            top: 40px;
            left: 5px;
            padding: 5px;
            width: 200px;
            
            .submenuList {
              padding-top: 10px;
              list-style: none;

              li {
                color: $Color4;
                padding: 5px;
                transition: 0.5s;

                &:hover {
                  color: $Color3;
                  transition: 0.5s;
                }
              }
            }
          }
        }

        .btnPeliculas {
          padding: 5px;

          &:hover .submenuPelis {
            display: block;
          }
        }

        .btnSeries {
          padding: 5px;

          &:hover .submenuSeries {
            display: block;
          }
        }
      }
    }
  }
}
