<header>
  <div class="menuPrincipalPC">
    <!-- Logo y Menu -->
    <div class="divIzquierdo">
      <!-- Logo -->
      <div class="logo">
        <a [routerLink]="['/']">
          <img src="https://www.svgrepo.com/show/120041/popcorn.svg" alt="logo" class="img-logo">
          <p>Peli.pepito</p>
        </a>
      </div>

      <!-- Menu principa; -->
      <div class="menuPrincipal">
        <ul class="listaMenuPrincipal">
          <li class="itemMenu btnPeliculas">
            <a [routerLink]="['/pelis','all']">
              <p>Películas</p>
            </a>
            <div class="divSubmenu submenuPelis">
              <!-- Submenu -->
              <ul class="submenuList">
                <li class="itemSubmenu">
                  <a [routerLink]="['/pelis', 'populares']">Populares</a>
                </li>
                <li class="itemSubmenu">
                  <a [routerLink]="['/pelis', 'novedades']">Novedades</a>
                </li>
                <li class="itemSubmenu">
                  <a [routerLink]="['/pelis', 'mejor-puntuadas']">Mejor puntuadas</a>
                </li>
                <!-- <li class="itemSubmenu">En cines</li> -->
              </ul>
            </div>
          </li>
          <li class="itemMenu btnSeries">
            <a [routerLink]="['/series', 'all']">
              <p>Series</p>
            </a>
            <div class="divSubmenu submenuSeries">
              <!-- Submenu -->
              <ul class="submenuList">
                <li class="itemSubmenu">
                  <a [routerLink]="['/series', 'populares']">Populares</a>
                </li>
                <li class="itemSubmenu">
                  <a [routerLink]="['/series', 'mejor-puntuadas']">Mejor puntuadas</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- Busqueda -->
    <app-search></app-search>
  </div>
  <div class="menuPrincipalMobile">
    <div class="divSuperior">
      <!-- Logo -->
      <div class="logo">
        <a [routerLink]="['/']">
          <img src="https://www.svgrepo.com/show/120041/popcorn.svg" alt="logo" class="img-logo">
          <p>Peli.pepito</p>
        </a>
      </div>

      <!-- Busqueda -->
      <app-search></app-search>
    </div>
    <!-- Menu principa; -->
    <div class="divInferior">
      <div class="menuPrincipal">
        <ul class="listaMenuPrincipal">
          <li class="itemMenu btnPeliculas">
            <a [routerLink]="['/pelis','all']">
              <p>Películas</p>
            </a>
          </li>
          <li class="itemMenu btnSeries">
            <a [routerLink]="['/series', 'all']">
              <p>Series</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
