$Color1: #323643;
$Color2: #606470;
$Color3: #f1c40f;
$Color4: #eeeeee;

#divAllFilms {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 50px;

  .filtros {
    display: flex;
    padding: 5px;

    .fName,
    .fDate,
    .fPopular {
      border-radius: 10px;
      margin: 5px;
      border: 2px solid $Color1;
      display: flex;
    }

    .filtro {
      margin: 5px;
      display: flex;
      padding: 5px;
      width: 50px;
      height: 50px;
      justify-content: center;
      align-items: center;
      transition: 0.5s;

      &:hover {
        border-radius: 50%;
        background: $Color3;
        transition: 0.5s;
      }

      i {
        font-size: 1.3em;
      }

      p {
        font-size: 1.3em;
        padding: 2px;
      }
    }

    .selected i,
    .selected p {
      color: $Color3;
    }
  }

  .films {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: row wrap;

    .individualFilm {
      border: 1px solid $Color2;
      border-radius: 10px;
      overflow: hidden;
      max-width: 360px;
      max-height: 500px;
      margin: 10px;
      justify-content: center;
      align-items: stretch;
      display: flex;
      flex-direction: column;
      transition: 0.5s;
      position: relative;

      &:hover {
        box-shadow: 0 0 20px 0 $Color2;
        transition: 0.5s;
      }

      &:hover .posterFilm img {
        filter: grayscale(0%);
        transition: 0.5s;
        width: 400px;
        height: 550px;
      }

      .posterFilm {
        background: green;
        justify-content: center;
        align-items: center;
        display: flex;

        img {
          filter: grayscale(50%);
          width: 360px;
          height: 500px;
          transition: 0.5s;
        }
      }

      .infoFilm {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: $Color4;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;

        .title {
          width: 100%;

          h2 {
            padding: 10px;
            text-align: center;
            position: relative;
            width: 100%;
            overflow: hidden;
            display: inline-block;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-bottom: -4px;
          }
        }
      }
    }
  }

  .paginacion {

    .atras {
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        height: 100%;
        padding: 10px;
        margin: 5px;
        font-size: 1.2em;
      }

      .arrow {
        font-size: 1.5em;
      }
    }

  }
}
