.componentPrincipal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em 0;
    div{
        img{
            width: 350px;
            height: 300px;
        }
    }
}
