<div class="componentPrincipal">
  <div class="div1">
    <div>
      <a><img src="https://picsum.photos/250/500" alt="" title="" /></a>
    </div>
    <div>
      <a><img src="https://picsum.photos/250/250" alt="" title="" /></a>
      <a><img src="https://picsum.photos/250/250" alt="" title="" /></a>
    </div>
  </div>
  <div class="div2">
    <div>
      <a><img src="https://picsum.photos/250/500" alt="" title="" /></a>
    </div>
    <div>
      <a><img src="https://picsum.photos/250/250" alt="" title="" /></a>
      <a><img src="https://picsum.photos/250/250" alt="" title="" /></a>
    </div>
  </div>
</div>