<div class="componentPrincipal">
  <div>
    <div>
      <a><img src="https://picsum.photos/960/480" alt="" title="" /></a>
    </div>
    <div>
      <a><img src="https://picsum.photos/960/480" alt="" title="" /></a>
      <a><img src="https://picsum.photos/960/480" alt="" title="" /></a>
    </div>
  </div>
  <div>
    <div>
      <a><img src="https://picsum.photos/960/480" alt="" title="" /></a>
    </div>
    <div>
      <a><img src="https://picsum.photos/960/480" alt="" title="" /></a>
      <a><img src="https://picsum.photos/960/480" alt="" title="" /></a>
    </div>
  </div>
</div>