$Color1: #323643;
$Color2: #606470;
$Color3: #f1c40f;
$Color4: #eeeeee;


.formDiv{
  text-align: -webkit-center;

  div{
  display: flex;
  flex-direction: column;
  }

  input, textarea{
    border-radius: 2px;
    margin-bottom: 10px;
    padding: 5px;
    background: $Color1;
    border: solid 1px $Color1;
    color:$Color4;
    font-size: 1em;
    resize: none;

    &:hover{
      transition: 0.3s;
      color: $Color3;
      border:solid 1px $Color3;
    }
  }

  button {
    background: $Color1;
    color:$Color4;
    width: 25vh;
    border:solid 1px $Color4;
    border-radius: 2px;
    padding: 5px;
    
    &:hover{
      transition: 0.3s;
      color: $Color3;
      border:solid 1px $Color3;
    }
  }
}

  