$Color1: #323643;
$Color2: #606470;
$Color3: #f1c40f;
$Color4: #eeeeee;

.search {
  padding: 5px;

  .divSearch {
    display: flex;

    &:hover {

      .divIcon .icon {
        transition: 0.3s;
        color: $Color3;
      }

      .divInput input {
        border-bottom: 2px solid $Color3;
        transition: 0.3s;
      }
    }

    .divIcon {
      padding: 5px;

      .icon {
        transition: 0.5s;
        color: $Color4;
        font-size: 1.5em;
      }
    }

    .divInput {
      transition: 0.5s;

      input {
        color: $Color4;
        background: $Color1;
        outline: none;
        height: 100%;
        border: none;
        padding: 5px;
        font-size: 1em;
      }
    }
  }
}
