<div class="icons">

<a href="http://facebook.com" target="_blank"> <i class="fab fa-facebook-f fa-2x face redSocial"></i></a>
<a href="http://twitter.com" target="_blank"> <i class="fab fa-twitter fa-2x twit redSocial"></i></a>
<a href="http://whatsapp.com" target="_blank"> <i class="fab fa-whatsapp fa-2x what redSocial"></i></a>
<a href="http://instagram.com" target="_blank"> <i class="fab fa-instagram fa-2x inst redSocial"></i></a>
<a href="http://youtube.com" target="_blank"> <i class="fab fa-youtube fa-2x you redSocial"></i></a>
</div>