<div class="serieInfo" *ngIf="serieInfo">
  <div class="backBox" *ngIf="palette" [ngStyle]="styleContainer()">
    <div class="box">
      <img src="https://image.tmdb.org/t/p/w780/{{serieInfo?.poster_path}}" alt="{{serieInfo?.name}}" title="{{serieInfo?.name}}">
    </div>
    <div class="infoSerie">
      <div class="title">
          <h2>{{serieInfo?.title}}</h2>
      </div>
      <div class="resumenSerie">
          <div>
              <h3>{{serieInfo?.overview}}</h3>
          </div>
      </div>
  </div>
  </div>
</div>
